.pagination__container {
    display: flex;
    margin-top: 1rem;
}

.page__link {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(255, 56, 92);
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.page__link:active {
    background-color: rgb(219, 45, 77);
}