.landlord_form_container {
  max-width: 500px;
  width: 100%;
  background-color: rgb(194, 41, 69);
  padding: 20px;
  color: white;
  border-radius: 5px;
  margin: 1.3rem auto 0 auto;
}

.landlord_form_container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: .6rem;
}

label {
  font-size: 1.2rem;
}

select option {
  font-family: "Nunito";
}

input,
select {
  height: 40px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: rgb(141, 19, 41);
  color: white;
  font-size: 1.2rem;
  font-family: "Nunito";
}

input[type="submit"] {
  margin-top: 1.3rem;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background-color: rgb(189, 22, 52);
}

a {
  color: white;
  margin-left: 5px;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.tc__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: .7rem;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "Nunito";
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: "Nunito";
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: "Nunito";
}