footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 56, 92);
    color: white;
    font-size: 1.1rem;
    padding: 10px;
}